<p>
  <b>Name:</b>
  <%=h @malline_test.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @malline_test.description %>
</p>


<%= link_to 'Edit', edit_malline_test_path(@malline_test) %> |
<%= link_to 'Back', malline_tests_path %>
